{% extends 'baseAdmin.html.twig' %}
{% block title %}Edit Material{% endblock %}
{% block page_title %}Edit Material{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Edit Material</h6>
            <a href="{{ path('list_materials_admin') }}" class="btn btn-secondary">Back to List</a>
        </div>
        <div class="card-body" enctype="multipart/form-data">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.typemateriel) }}
                    {{ form_widget(form.typemateriel) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.entreprise) }}
                    {{ form_widget(form.entreprise) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}