{# user/admin/edit_admin.html.twig #}
{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Client - Autolink{% endblock %}

{% block page_title %}Edit Client{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Client</h6>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.last_name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.phone, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}