{# templates/menu/edit.html.twig #}
{% extends 'baseAdmin.html.twig' %}
{% block title %}Edit Menu Item - Autolink{% endblock %}
{% block page_title %}Edit Menu Item{% endblock %}
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Menu Item</h6>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.route, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.roles, { 'attr': {'class': 'form-check'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                    <a href="{{ path('admin_menus') }}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}